In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('movies_metadata.csv')

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
dataset.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [4]:
dataset.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
dataset['release_date'].unique()

array(['1995-10-30', '1995-12-15', '1995-12-22', ..., '1904-03-05',
       '1991-05-13', '1917-10-21'], dtype=object)

In [6]:
dataset['release_date'] = pd.to_datetime(dataset['release_date'],errors='coerce')

In [7]:
dataset['year'] = dataset['release_date'].dt.year

In [8]:
dataset

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,2011.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,1917.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017.0

In [9]:
dataset['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [10]:
dataset = dataset.loc[dataset.year==2017]

In [11]:
dataset

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
26560,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://pirates.disney.com/pirates-of-the-carib...,166426,tt1790809,en,Pirates of the Caribbean: Dead Men Tell No Tales,"Thrust into an all-new paycheck, a down-on-his...",...,794191988.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pirates of the Caribbean: Dead Men Tell No Tales,False,6.6,2814.0,2017.0
26561,False,"{'id': 468551, 'name': 'Justice League Collect...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.justiceleaguethemovie.com,141052,tt0974015,en,Justice League,Fueled by his restored faith in humanity and i...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Justice League,False,0.0,0.0,2017.0
26565,False,"{'id': 131296, 'name': 'Thor Collection', 'pos...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/222/thor_ragnarok,284053,tt3501632,en,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Thor: Ragnarok,False,0.0,0.0,2017.0
26566,False,"{'id': 284433, 'name': 'Guardians of the Galax...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,283995,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,...,863416141.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0,2017.0
30536,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,245842,tt2328678,en,The King's Daughter,King Louis XIV's quest for immortality leads h...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,What on Earth Can Hold More Power Than a King?,The King's Daughter,False,0.0,4.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45398,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri M√§ntyvaaran tuuheet ripset,NaN,...,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri M√§ntyvaara,False,8.0,1.0,2017.0
45417,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,461297,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1.0,2017.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher‚Äôs family life i...,...,0.0,146.0,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}]",Released,NaN,Mom,False,6.6,14.0,2017.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017.0

In [12]:
for i in dataset.columns:
    print(i,dataset[i].isnull().sum())

adult 0
belongs_to_collection 491
budget 0
genres 0
homepage 310
id 0
imdb_id 1
original_language 0
original_title 0
overview 12
popularity 0
poster_path 2
production_companies 0
production_countries 0
release_date 0
revenue 0
runtime 7
spoken_languages 0
status 0
tagline 296
title 0
video 0
vote_average 0
vote_count 0
year 0

In [13]:
g_null = dataset['genres']!='[]'
genres = dataset['genres'][g_null]

In [14]:
genres.head()

26560    [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
26561    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
26565    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
26566    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
30536    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
Name: genres, dtype: object

In [15]:
import ast

In [16]:
def gen_to_list(row):
    row = ast.literal_eval(row)
    return [g['name'] for g in row]

In [17]:
genres_list = genres.apply(gen_to_list)
genres_list.head()

26560             [Adventure, Action, Fantasy, Comedy]
26561    [Action, Adventure, Fantasy, Science Fiction]
26565    [Action, Adventure, Fantasy, Science Fiction]
26566     [Action, Adventure, Comedy, Science Fiction]
30536                     [Fantasy, Action, Adventure]
Name: genres, dtype: object

In [18]:
def list_to_string(row):
    ret_str = ''
    for stri in row:
        if(stri=='Science Fiction'):
            stri = 'Sci-Fi'
        ret_str+=stri+' '
    return ret_str

In [19]:
genres_list_str = genres_list.apply(list_to_string)
genres_list_str

26560    Adventure Action Fantasy Comedy
26561    Action Adventure Fantasy Sci-Fi
26565    Action Adventure Fantasy Sci-Fi
26566     Action Adventure Comedy Sci-Fi
30536           Fantasy Action Adventure
                       ...
45391                            Romance
45398                     Romance Comedy
45417         Crime Comedy Action Family
45437    Family Animation Romance Comedy
45453               Crime Drama Thriller
Name: genres, Length: 524, dtype: object

In [20]:
dataset['genres'] = genres_list_str

<ipython-input-20-1efce36b5966>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['genres'] = genres_list_str

In [21]:
dataset

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
26560,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",230000000,Adventure Action Fantasy Comedy,http://pirates.disney.com/pirates-of-the-carib...,166426,tt1790809,en,Pirates of the Caribbean: Dead Men Tell No Tales,"Thrust into an all-new paycheck, a down-on-his...",...,794191988.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pirates of the Caribbean: Dead Men Tell No Tales,False,6.6,2814.0,2017.0
26561,False,"{'id': 468551, 'name': 'Justice League Collect...",0,Action Adventure Fantasy Sci-Fi,http://www.justiceleaguethemovie.com,141052,tt0974015,en,Justice League,Fueled by his restored faith in humanity and i...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Justice League,False,0.0,0.0,2017.0
26565,False,"{'id': 131296, 'name': 'Thor Collection', 'pos...",0,Action Adventure Fantasy Sci-Fi,https://marvel.com/movies/movie/222/thor_ragnarok,284053,tt3501632,en,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Thor: Ragnarok,False,0.0,0.0,2017.0
26566,False,"{'id': 284433, 'name': 'Guardians of the Galax...",200000000,Action Adventure Comedy Sci-Fi,http://marvel.com/movies/movie/221/guardians_o...,283995,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,...,863416141.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0,2017.0
30536,False,NaN,0,Fantasy Action Adventure,NaN,245842,tt2328678,en,The King's Daughter,King Louis XIV's quest for immortality leads h...,...,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,What on Earth Can Hold More Power Than a King?,The King's Daughter,False,0.0,4.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45398,False,NaN,1254040,Romance Comedy,http://lmtr.fi/,468707,tt5742932,fi,Lauri M√§ntyvaaran tuuheet ripset,NaN,...,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri M√§ntyvaara,False,8.0,1.0,2017.0
45417,False,NaN,0,Crime Comedy Action Family,NaN,461297,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1.0,2017.0
45437,False,NaN,0,Family Animation Romance Comedy,NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017.0
45453,False,NaN,0,Crime Drama Thriller,NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher‚Äôs family life i...,...,0.0,146.0,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}]",Released,NaN,Mom,False,6.6,14.0,2017.0
45465,False,NaN,0,NaN,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017.0

In [22]:
credits = pd.read_csv('credits.csv')

In [23]:
credits.head(10)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710

In [24]:
credits.shape

(45476, 3)

In [25]:
dataset = dataset[['id','title','genres','year']]

In [26]:
dataset.head()

,id,title,genres,year
26560,166426,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,2017.0
26561,141052,Justice League,Action Adventure Fantasy Sci-Fi,2017.0
26565,284053,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,2017.0
26566,283995,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,2017.0
30536,245842,The King's Daughter,Fantasy Action Adventure,2017.0

In [27]:
dataset['id'] = dataset['id'].astype(int)

<ipython-input-27-22c1071b20d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['id'] = dataset['id'].astype(int)

In [28]:
dataset = pd.merge(dataset,credits,on='id')

In [29]:
dataset.head()

,id,title,genres,year,cast,crew
0,166426,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,141052,Justice League,Action Adventure Fantasy Sci-Fi,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,284053,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,283995,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,245842,The King's Daughter,Fantasy Action Adventure,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [30]:
dataset.shape

(531, 6)

In [31]:
dataset['cast'] = dataset['cast'].map(lambda x: ast.literal_eval(x))
dataset['crew'] = dataset['crew'].map(lambda x: ast.literal_eval(x))

In [32]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [33]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [34]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [35]:
dataset['actor_1_name'] = dataset['cast'].apply(get_actor1)

In [36]:
dataset['actor_2_name'] = dataset['cast'].apply(get_actor2)

In [37]:
dataset['actor_3_name'] = dataset['cast'].apply(get_actor3)

In [38]:
dataset

,id,title,genres,year,cast,crew,actor_1_name,actor_2_name,actor_3_name
0,166426,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Johnny Depp,Javier Bardem,Geoffrey Rush
1,141052,Justice League,Action Adventure Fantasy Sci-Fi,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Ben Affleck,Henry Cavill,Gal Gadot
2,284053,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,283995,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Chris Pratt,Zoe Saldana,Dave Bautista
4,245842,The King's Daughter,Fantasy Action Adventure,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Pierce Brosnan,William Hurt,Benjamin Walker
...,...,...,...,...,...,...,...,...,...
526,468707,Thick Lashes of Lauri M√§ntyvaara,Romance Comedy,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Inka Haapam√§ki,Rosa Honkonen,Tiitus Rantala
527,461297,Cop and a Half: New Recruit,Crime Comedy Action Family,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Lou Diamond Phillips,Wallace Shawn,Gina Holden
528,455661,In a Heartbeat,Family Animation Romance Comedy,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",NaN,NaN,NaN
529,404604,Mom,Crime Drama Thriller,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Sridevi Kapoor,Sajal Ali,Akshaye Khanna
530,461257,Queerama,NaN,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN,NaN

In [39]:
def getdir(row):
    dt = []
    st = " "
    for i in row:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [40]:
dataset['director'] = dataset['crew'].apply(getdir)

In [41]:
dataset = dataset[['director','actor_1_name','actor_2_name','actor_3_name','genres','title']]

In [42]:
dataset

,director,actor_1_name,actor_2_name,actor_3_name,genres,title
0,Joachim R√∏nning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter
...,...,...,...,...,...,...
526,Hannaleena Hauru,Inka Haapam√§ki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,Thick Lashes of Lauri M√§ntyvaara
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,Cop and a Half: New Recruit
528,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,In a Heartbeat
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,Mom
530,Daisy Asquith,NaN,NaN,NaN,NaN,Queerama

In [43]:
dataset.isna().sum()

director         4
actor_1_name    22
actor_2_name    55
actor_3_name    70
genres           7
title            0
dtype: int64

In [44]:
dataset = dataset.dropna()

In [45]:
dataset = dataset.rename(columns={'title':'movie_title'})

In [46]:
dataset.to_csv('movies_2017.csv',index=False)